html
    head
        title Conference - #{title}
        a(href="/logout")
            button.blue.btn.btn-default.waves-effect.waves-light logout
        block scripts
            script(src='https://code.jquery.com/jquery-3.4.1.slim.min.js')
    body
        block content
